.env
*error_log*
*.sql
*.sh
qdmail.log
*.log
.bk
backup
xxx*
*copy.php
.ini
*.MOV
*.mp4
*.htaccess
*.csv
/upload/*
!/upload/logo_sample.webp
/upload/temp/*
!/upload/temp/dummy.txt
*test*
*template*
*.mm
sitemap.xml
product_list.xml
access_log.txt
*/installed-fonts.json
