.env
*error_log*
*.sql
*.sh
qdmail.log
*.log
.bk
backup
xxx*
*copy.php
.ini
*.MOV
*.mp4
*.htaccess
*.csv
upload/*.html
upload/*.png
upload/*.jpeg
upload/*.jpg
upload/temp/*.html
upload/temp/*.png
upload/temp/*.jpeg
upload/temp/*.jpg
*test*
*template*
*.mm
sitemap.xml
product_list.xml
composer/platform_check.php
