.env
*error_log*
*.sql
*.sh
qdmail.log
*.log
.bk
backup
xxx*
*copy.php
.ini
*.MOV
*.mp4
*.htaccess
*.csv
upload/*.html
upload/*.png
upload/*.jpeg
upload/*.jpg
upload/*.webp
upload/*
upload/temp/*.html
upload/temp/*.png
upload/temp/*.jpeg
upload/temp/*.jpg
upload/temp/*.webp
*test*
*template*
*.mm
sitemap.xml
product_list.xml
vendor/composer/platform_check.php
access_log.txt
*/installed-fonts.json
